* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: #40A2E3;
}
body {
  background: #FFF6E9;
  color: #0D9276;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  text-decoration: none;
  list-style: none;
}